<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    {#<link href="../css/pagination.css" rel="stylesheet" type="text/css"/>#}
    <!-- Custom CSS -->
    <link href="../css/blog-post.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="../user/logout" >Logout</a>
                </li>
                <li style="margin-top: 10px; color: white">

                    {% if app.session.get('user')['username']  is defined %}
                        Hi {{ app.session.get('user')['username'] }}
                    {% endif %}

                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row-fluid">

        <div class="span12">
            <div class="block-fluid table-sorting">
                <a href="../posts/new"  class='btn btn-success'>Add Post</a>

                <p style="color:red"
                   align="center"><?php if(isset($_SESSION['success'])){echo $_SESSION['success']; unset($_SESSION['success']);} ?></p>

                <p style="color:red"
                   align="center"><?php if(isset($_SESSION['activate'])){echo $_SESSION['activate']; unset($_SESSION['activate']);} ?></p>

                <p style="color:red" align="center">
                    {% if app.session.flashbag.get('updatePostSuccess') is defined %}
                        {% for flashMessage in app.session.flashbag.get('updatePostSuccess') %}
                            * {{ flashMessage }}
                        {% endfor %}
                    {% endif %}
                    {% if app.session.flashbag.get('deletePostSuccess') is defined %}
                        {% for flashMessage in app.session.flashbag.get('deletePostSuccess') %}
                            * {{ flashMessage }}
                        {% endfor %}
                    {% endif %}
                    {% if app.session.flashbag.get('addPostSuccess') is defined %}
                        {% for flashMessage in app.session.flashbag.get('addPostSuccess') %}
                            * {{ flashMessage }}
                        {% endfor %}
                    {% endif %}
                </p>

                <form method="POST" action="../user/process">
                    <table cellpadding="0" cellspacing="0" width="100%" class="table" id="tSortable_2">
                        <thead>
                        <tr>
                            <th width="60%">Post</th>
                            <th width="20%">Delete</th>
                            <th width="20%">Update</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for post in listPost %}
                            <tr>
                                <td><a href="../posts/{{ post['id'] }}">{{ post['title'] }}</td>
                                <td><a href="../posts/destroy/{{ post['id'] }}" class='btn btn-danger'>Delete</a></td>
                                <td><a href="../posts/update/{{ post['id'] }}"  class='btn btn-success'>Update</a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="bulk-action">
                    </div>
                    <!-- /bulk-action-->
                </form>
                <div class="dataTables_paginate">
                    {{ pagination|raw }}
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
    {#<div class="row">#}
        {#<!-- Blog Post Content Column -->#}
        {#<div class="col-lg-8 col-lg-offset-2">#}
        {#<table>#}

            {#<tr>#}
                {#<td>Bài Viết</td>#}
                {#<td>Action</td>#}
            {#</tr>#}

                {#{% for post in listPost %}#}
                {#<tr>#}
                    {#<td><p>{{ post['title'] }}</p></td>#}
                    {#<td><div style="text-align: right">#}
                            {#<a href="../post/delete?id={{ post['id'] }}">Delete</a> &nbsp;&nbsp;&nbsp;#}
                            {#<a href="../post/update?id={{ post['id'] }}&id_user={{ post['id_user'] }}">Update</a>#}
                        {#</div></td>#}
                        {#&#123;&#35;<!-- Post Content -->&#35;&#125;#}
                        {#&#123;&#35;<p class="lead">&#35;&#125;#}
                            {#&#123;&#35;{{ post['content'] }}&#35;&#125;#}
                        {#&#123;&#35;</p>&#35;&#125;#}
                        {#&#123;&#35;<hr>&#35;&#125;#}

                        {#&#123;&#35;<!-- Blog Comments -->&#35;&#125;#}

                        {#&#123;&#35;<!-- Comments Form -->&#35;&#125;#}
                        {#&#123;&#35;<div class="well">&#35;&#125;#}
                            {#&#123;&#35;<h4>Leave a Comment:</h4>&#35;&#125;#}
                            {#&#123;&#35;<form action = "../post/addComment" method="POST">&#35;&#125;#}
                                {#&#123;&#35;<div class="form-group">&#35;&#125;#}
                                    {#&#123;&#35;<textarea class="form-control" rows="3" name="content"></textarea>&#35;&#125;#}
                                    {#&#123;&#35;<input type="hidden" name="id_user" value="&#35;&#125;#}
                                        {#&#123;&#35;{% if  app.session.get('user')['id'] is defined %}&#35;&#125;#}
                                            {#&#123;&#35;{{ app.session.get('user')['id'] }}&#35;&#125;#}
                                        {#&#123;&#35;{% endif %}&#35;&#125;#}
                                    {#&#123;&#35;">&#35;&#125;#}
                                    {#&#123;&#35;<input type="hidden" name="id_post" value="{{ post['id'] }}">&#35;&#125;#}
                                {#&#123;&#35;</div>&#35;&#125;#}
                                {#&#123;&#35;<button type="submit" class="btn btn-primary" name="comment" value="OK">Submit</button>&#35;&#125;#}
                            {#&#123;&#35;</form>&#35;&#125;#}
                        {#&#123;&#35;</div>&#35;&#125;#}

                        {#&#123;&#35;<hr>&#35;&#125;#}

                        {#&#123;&#35;<!-- Posted Comments -->&#35;&#125;#}

                        {#&#123;&#35;<!-- Comment -->&#35;&#125;#}

                        {#&#123;&#35;{% for comment in post['comment'] %}&#35;&#125;#}

                            {#&#123;&#35;<div class="media">&#35;&#125;#}
                                {#&#123;&#35;<a class="pull-left" href="#">&#35;&#125;#}
                                    {#&#123;&#35;<img class="media-object" src="http://placehold.it/64x64" alt="">&#35;&#125;#}
                                {#&#123;&#35;</a>&#35;&#125;#}
                                {#&#123;&#35;<div class="media-body">&#35;&#125;#}
                                    {#&#123;&#35;<h4 class="media-heading">{{ comment['name'] }}&#35;&#125;#}
                                        {#&#123;&#35;<small>{{ comment['created_Time'] }}</small>&#35;&#125;#}
                                    {#&#123;&#35;</h4>&#35;&#125;#}
                                    {#&#123;&#35;{{ comment['content'] }}&#35;&#125;#}
                                {#&#123;&#35;</div>&#35;&#125;#}
                            {#&#123;&#35;</div>&#35;&#125;#}
                        {#&#123;&#35;{% endfor %}&#35;&#125;#}

                    {#&#123;&#35;</div>&#35;&#125;#}
                {#</tr>#}
                {#{% endfor %}#}

        {#</table>#}
        {#</div>#}

    {#</div>#}

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>


</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>

</html>
